.text-updater-node {
  height: 45px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;    
}
.custom-wrap{
  display: grid;
  grid-template-columns: 30px 30px;
  grid-auto-rows: 15px;
  /* grid-template-rows: repeat(3, minmax(15px, auto)); */
}

.div1, .div2, .div3, .div4, .div5, .div6{
  border: 1px solid #eee;
  font-size: 6px;
}
.div3, .div4{
  grid-column: 1/3;
}